OpenVCT/raytracing/XPLRayTracing/attenuation.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="attenuation"
    targetNamespace="http://tempuri.org/attenuation.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/attenuation.xsd"
    xmlns:mstns="http://tempuri.org/attenuation.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="global">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="MaterialAttenuation" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Name" type="xs:string" />
              <xs:element name="Z" type="xs:unsignedShort" />
              <xs:element name="Density" type="xs:double" />              
              <xs:element name="Attentuation0" type="xs:double"/>
              <xs:element name="Attentuation1"  type="xs:double"/>
              <xs:element name="Attentuation2"  type="xs:double"/>
              <xs:element name="Attentuation3"  type="xs:double"/>
              <xs:element name="Attentuation4"  type="xs:double"/>
              <xs:element name="Attentuation5"  type="xs:double"/>
              <xs:element name="Attentuation6"  type="xs:double"/>
              <xs:element name="Attentuation7"  type="xs:double"/>
              <xs:element name="Attentuation8"  type="xs:double"/>
              <xs:element name="Attentuation9"  type="xs:double"/>
              <xs:element name="Attentuation10"  type="xs:double"/>
              <xs:element name="Attentuation11"  type="xs:double"/>
              <xs:element name="Attentuation12"  type="xs:double"/>
              <xs:element name="Attentuation13"  type="xs:double"/>
              <xs:element name="Attentuation14"  type="xs:double"/>
              <xs:element name="Attentuation15"  type="xs:double"/>
              <xs:element name="Attentuation16"  type="xs:double"/>
              <xs:element name="Attentuation17"  type="xs:double"/>
              <xs:element name="Attentuation18"  type="xs:double"/>
              <xs:element name="Attentuation19"  type="xs:double"/>
              <xs:element name="Attentuation20"  type="xs:double"/>
              <xs:element name="Attentuation21"  type="xs:double"/>
              <xs:element name="Attentuation22"  type="xs:double"/>
              <xs:element name="Attentuation23"  type="xs:double"/>
              <xs:element name="Attentuation24"  type="xs:double"/>
              <xs:element name="Attentuation25"  type="xs:double"/>
              <xs:element name="Attentuation26"  type="xs:double"/>
              <xs:element name="Attentuation27"  type="xs:double"/>
              <xs:element name="Attentuation28"  type="xs:double"/>
              <xs:element name="Attentuation29"  type="xs:double"/>
              <xs:element name="Attentuation30"  type="xs:double"/>
              <xs:element name="Attentuation31"  type="xs:double"/>
              <xs:element name="Attentuation32"  type="xs:double"/>
              <xs:element name="Attentuation33"  type="xs:double"/>
              <xs:element name="Attentuation34"  type="xs:double"/>
              <xs:element name="Attentuation35"  type="xs:double"/>
              <xs:element name="Attentuation36"  type="xs:double"/>
              <xs:element name="Attentuation37"  type="xs:double"/>
              <xs:element name="Attentuation38"  type="xs:double"/>
              <xs:element name="Attentuation39"  type="xs:double"/>
              <xs:element name="Attentuation40"  type="xs:double"/>
              <xs:element name="Attentuation41"  type="xs:double"/>
              <xs:element name="Attentuation42"  type="xs:double"/>
              <xs:element name="Attentuation43"  type="xs:double"/>
              <xs:element name="Attentuation44"  type="xs:double"/>
              <xs:element name="Attentuation45"  type="xs:double"/>
              <xs:element name="Attentuation46"  type="xs:double"/>
              <xs:element name="Attentuation47"  type="xs:double"/>
              <xs:element name="Attentuation48"  type="xs:double"/>
              <xs:element name="Attentuation49"  type="xs:double"/>
              <xs:element name="Attentuation50"  type="xs:double"/>
              <xs:element name="Attentuation51"  type="xs:double"/>
              <xs:element name="Attentuation52"  type="xs:double"/>
              <xs:element name="Attentuation53"  type="xs:double"/>
              <xs:element name="Attentuation54"  type="xs:double"/>
              <xs:element name="Attentuation55"  type="xs:double"/>
              <xs:element name="Attentuation56"  type="xs:double"/>
              <xs:element name="Attentuation57"  type="xs:double"/>
              <xs:element name="Attentuation58"  type="xs:double"/>
              <xs:element name="Attentuation59"  type="xs:double"/>
              <xs:element name="Attentuation60"  type="xs:double"/>
              <xs:element name="Attentuation61"  type="xs:double"/>
              <xs:element name="Attentuation62"  type="xs:double"/>
              <xs:element name="Attentuation63"  type="xs:double"/>
              <xs:element name="Attentuation64"  type="xs:double"/>
              <xs:element name="Attentuation65"  type="xs:double"/>
              <xs:element name="Attentuation66"  type="xs:double"/>
              <xs:element name="Attentuation67"  type="xs:double"/>
              <xs:element name="Attentuation68"  type="xs:double"/>
              <xs:element name="Attentuation69"  type="xs:double"/>
              <xs:element name="Attentuation70"  type="xs:double"/>
              <xs:element name="Attentuation71"  type="xs:double"/>
              <xs:element name="Attentuation72"  type="xs:double"/>
              <xs:element name="Attentuation73"  type="xs:double"/>
              <xs:element name="Attentuation74"  type="xs:double"/>
              <xs:element name="Attentuation75"  type="xs:double"/>
              <xs:element name="Attentuation76"  type="xs:double"/>
              <xs:element name="Attentuation77"  type="xs:double"/>
              <xs:element name="Attentuation78"  type="xs:double"/>
              <xs:element name="Attentuation79"  type="xs:double"/>
              <xs:element name="Attentuation80"  type="xs:double"/>
              <xs:element name="Attentuation81"  type="xs:double"/>
              <xs:element name="Attentuation82"  type="xs:double"/>
              <xs:element name="Attentuation83"  type="xs:double"/>
              <xs:element name="Attentuation84"  type="xs:double"/>
              <xs:element name="Attentuation85"  type="xs:double"/>
              <xs:element name="Attentuation86"  type="xs:double"/>
              <xs:element name="Attentuation87"  type="xs:double"/>
              <xs:element name="Attentuation88"  type="xs:double"/>
              <xs:element name="Attentuation89"  type="xs:double"/>
              <xs:element name="Attentuation90"  type="xs:double"/>
              <xs:element name="Attentuation91"  type="xs:double"/>
              <xs:element name="Attentuation92"  type="xs:double"/>
              <xs:element name="Attentuation93"  type="xs:double"/>
              <xs:element name="Attentuation94"  type="xs:double"/>
              <xs:element name="Attentuation95"  type="xs:double"/>
              <xs:element name="Attentuation96"  type="xs:double"/>
              <xs:element name="Attentuation97"  type="xs:double"/>
              <xs:element name="Attentuation98"  type="xs:double"/>
              <xs:element name="Attentuation99"  type="xs:double"/>
              <xs:element name="Attentuation100"  type="xs:double"/>
              <xs:element name="Attentuation101"  type="xs:double"/>
              <xs:element name="Attentuation102"  type="xs:double"/>
              <xs:element name="Attentuation103"  type="xs:double"/>
              <xs:element name="Attentuation104"  type="xs:double"/>
              <xs:element name="Attentuation105"  type="xs:double"/>
              <xs:element name="Attentuation106"  type="xs:double"/>
              <xs:element name="Attentuation107"  type="xs:double"/>
              <xs:element name="Attentuation108"  type="xs:double"/>
              <xs:element name="Attentuation109"  type="xs:double"/>
              <xs:element name="Attentuation110"  type="xs:double"/>
              <xs:element name="Attentuation111"  type="xs:double"/>
              <xs:element name="Attentuation112"  type="xs:double"/>
              <xs:element name="Attentuation113"  type="xs:double"/>
              <xs:element name="Attentuation114"  type="xs:double"/>
              <xs:element name="Attentuation115"  type="xs:double"/>
              <xs:element name="Attentuation116"  type="xs:double"/>
              <xs:element name="Attentuation117"  type="xs:double"/>
              <xs:element name="Attentuation118"  type="xs:double"/>
              <xs:element name="Attentuation119"  type="xs:double"/>
              <xs:element name="Attentuation120"  type="xs:double"/>
              <xs:element name="Attentuation121"  type="xs:double"/>
              <xs:element name="Attentuation122"  type="xs:double"/>
              <xs:element name="Attentuation123"  type="xs:double"/>
              <xs:element name="Attentuation124"  type="xs:double"/>
              <xs:element name="Attentuation125"  type="xs:double"/>
              <xs:element name="Attentuation126"  type="xs:double"/>
              <xs:element name="Attentuation127"  type="xs:double"/>
              <xs:element name="Attentuation128"  type="xs:double"/>
              <xs:element name="Attentuation129"  type="xs:double"/>
              <xs:element name="Attentuation130"  type="xs:double"/>
              <xs:element name="Attentuation131"  type="xs:double"/>
              <xs:element name="Attentuation132"  type="xs:double"/>
              <xs:element name="Attentuation133"  type="xs:double"/>
              <xs:element name="Attentuation134"  type="xs:double"/>
              <xs:element name="Attentuation135"  type="xs:double"/>
              <xs:element name="Attentuation136"  type="xs:double"/>
              <xs:element name="Attentuation137"  type="xs:double"/>
              <xs:element name="Attentuation138"  type="xs:double"/>
              <xs:element name="Attentuation139"  type="xs:double"/>
              <xs:element name="Attentuation140"  type="xs:double"/>
              <xs:element name="Attentuation141"  type="xs:double"/>
              <xs:element name="Attentuation142"  type="xs:double"/>
              <xs:element name="Attentuation143"  type="xs:double"/>
              <xs:element name="Attentuation144"  type="xs:double"/>
              <xs:element name="Attentuation145"  type="xs:double"/>
              <xs:element name="Attentuation146"  type="xs:double"/>
              <xs:element name="Attentuation147"  type="xs:double"/>
              <xs:element name="Attentuation148"  type="xs:double"/>
              <xs:element name="Attentuation149"  type="xs:double"/>
              <xs:element name="Attentuation150"  type="xs:double"/>
              <xs:element name="Attentuation151"  type="xs:double"/>
              <xs:element name="Attentuation152"  type="xs:double"/>
              <xs:element name="Attentuation153"  type="xs:double"/>
              <xs:element name="Attentuation154"  type="xs:double"/>
              <xs:element name="Attentuation155"  type="xs:double"/>
              <xs:element name="Attentuation156"  type="xs:double"/>
              <xs:element name="Attentuation157"  type="xs:double"/>
              <xs:element name="Attentuation158"  type="xs:double"/>
              <xs:element name="Attentuation159"  type="xs:double"/>
              <xs:element name="Attentuation160"  type="xs:double"/>
              <xs:element name="Attentuation161"  type="xs:double"/>
              <xs:element name="Attentuation162"  type="xs:double"/>
              <xs:element name="Attentuation163"  type="xs:double"/>
              <xs:element name="Attentuation164"  type="xs:double"/>
              <xs:element name="Attentuation165"  type="xs:double"/>
              <xs:element name="Attentuation166"  type="xs:double"/>
              <xs:element name="Attentuation167"  type="xs:double"/>
              <xs:element name="Attentuation168"  type="xs:double"/>
              <xs:element name="Attentuation169"  type="xs:double"/>
              <xs:element name="Attentuation170"  type="xs:double"/>
              <xs:element name="Attentuation171"  type="xs:double"/>
              <xs:element name="Attentuation172"  type="xs:double"/>
              <xs:element name="Attentuation173"  type="xs:double"/>
              <xs:element name="Attentuation174"  type="xs:double"/>
              <xs:element name="Attentuation175"  type="xs:double"/>
              <xs:element name="Attentuation176"  type="xs:double"/>
              <xs:element name="Attentuation177"  type="xs:double"/>
              <xs:element name="Attentuation178"  type="xs:double"/>
              <xs:element name="Attentuation179"  type="xs:double"/>
              <xs:element name="Attentuation180"  type="xs:double"/>
              <xs:element name="Attentuation181"  type="xs:double"/>
              <xs:element name="Attentuation182"  type="xs:double"/>
              <xs:element name="Attentuation183"  type="xs:double"/>
              <xs:element name="Attentuation184"  type="xs:double"/>
              <xs:element name="Attentuation185"  type="xs:double"/>
              <xs:element name="Attentuation186"  type="xs:double"/>
              <xs:element name="Attentuation187"  type="xs:double"/>
              <xs:element name="Attentuation188"  type="xs:double"/>
              <xs:element name="Attentuation189"  type="xs:double"/>
              <xs:element name="Attentuation190"  type="xs:double"/>
              <xs:element name="Attentuation191"  type="xs:double"/>
              <xs:element name="Attentuation192"  type="xs:double"/>
              <xs:element name="Attentuation193"  type="xs:double"/>
              <xs:element name="Attentuation194"  type="xs:double"/>
              <xs:element name="Attentuation195"  type="xs:double"/>
              <xs:element name="Attentuation196"  type="xs:double"/>
              <xs:element name="Attentuation197"  type="xs:double"/>
              <xs:element name="Attentuation198"  type="xs:double"/>
              <xs:element name="Attentuation199"  type="xs:double"/>
              <xs:element name="Attentuation200"  type="xs:double"/>
              <xs:element name="Attentuation201"  type="xs:double"/>
              <xs:element name="Attentuation202"  type="xs:double"/>
              <xs:element name="Attentuation203"  type="xs:double"/>
              <xs:element name="Attentuation204"  type="xs:double"/>
              <xs:element name="Attentuation205"  type="xs:double"/>
              <xs:element name="Attentuation206"  type="xs:double"/>
              <xs:element name="Attentuation207"  type="xs:double"/>
              <xs:element name="Attentuation208"  type="xs:double"/>
              <xs:element name="Attentuation209"  type="xs:double"/>
              <xs:element name="Attentuation210"  type="xs:double"/>
              <xs:element name="Attentuation211"  type="xs:double"/>
              <xs:element name="Attentuation212"  type="xs:double"/>
              <xs:element name="Attentuation213"  type="xs:double"/>
              <xs:element name="Attentuation214"  type="xs:double"/>
              <xs:element name="Attentuation215"  type="xs:double"/>
              <xs:element name="Attentuation216"  type="xs:double"/>
              <xs:element name="Attentuation217"  type="xs:double"/>
              <xs:element name="Attentuation218"  type="xs:double"/>
              <xs:element name="Attentuation219"  type="xs:double"/>
              <xs:element name="Attentuation220"  type="xs:double"/>
              <xs:element name="Attentuation221"  type="xs:double"/>
              <xs:element name="Attentuation222"  type="xs:double"/>
              <xs:element name="Attentuation223"  type="xs:double"/>
              <xs:element name="Attentuation224"  type="xs:double"/>
              <xs:element name="Attentuation225"  type="xs:double"/>
              <xs:element name="Attentuation226"  type="xs:double"/>
              <xs:element name="Attentuation227"  type="xs:double"/>
              <xs:element name="Attentuation228"  type="xs:double"/>
              <xs:element name="Attentuation229"  type="xs:double"/>
              <xs:element name="Attentuation230"  type="xs:double"/>
              <xs:element name="Attentuation231"  type="xs:double"/>
              <xs:element name="Attentuation232"  type="xs:double"/>
              <xs:element name="Attentuation233"  type="xs:double"/>
              <xs:element name="Attentuation234"  type="xs:double"/>
              <xs:element name="Attentuation235"  type="xs:double"/>
              <xs:element name="Attentuation236"  type="xs:double"/>
              <xs:element name="Attentuation237"  type="xs:double"/>
              <xs:element name="Attentuation238"  type="xs:double"/>
              <xs:element name="Attentuation239"  type="xs:double"/>
              <xs:element name="Attentuation240"  type="xs:double"/>
              <xs:element name="Attentuation241"  type="xs:double"/>
              <xs:element name="Attentuation242"  type="xs:double"/>
              <xs:element name="Attentuation243"  type="xs:double"/>
              <xs:element name="Attentuation244"  type="xs:double"/>
              <xs:element name="Attentuation245"  type="xs:double"/>
              <xs:element name="Attentuation246"  type="xs:double"/>
              <xs:element name="Attentuation247"  type="xs:double"/>
              <xs:element name="Attentuation248"  type="xs:double"/>
              <xs:element name="Attentuation249"  type="xs:double"/>
              <xs:element name="Attentuation250"  type="xs:double"/>
              <xs:element name="Attentuation251"  type="xs:double"/>
              <xs:element name="Attentuation252"  type="xs:double"/>
              <xs:element name="Attentuation253"  type="xs:double"/>
              <xs:element name="Attentuation254"  type="xs:double"/>
              <xs:element name="Attentuation255"  type="xs:double"/>
              <xs:element name="Attentuation256"  type="xs:double"/>
              <xs:element name="Attentuation257"  type="xs:double"/>
              <xs:element name="Attentuation258"  type="xs:double"/>
              <xs:element name="Attentuation259"  type="xs:double"/>
              <xs:element name="Attentuation260"  type="xs:double"/>
              <xs:element name="Attentuation261"  type="xs:double"/>
              <xs:element name="Attentuation262"  type="xs:double"/>
              <xs:element name="Attentuation263"  type="xs:double"/>
              <xs:element name="Attentuation264"  type="xs:double"/>
              <xs:element name="Attentuation265"  type="xs:double"/>
              <xs:element name="Attentuation266"  type="xs:double"/>
              <xs:element name="Attentuation267"  type="xs:double"/>
              <xs:element name="Attentuation268"  type="xs:double"/>
              <xs:element name="Attentuation269"  type="xs:double"/>
              <xs:element name="Attentuation270"  type="xs:double"/>
              <xs:element name="Attentuation271"  type="xs:double"/>
              <xs:element name="Attentuation272"  type="xs:double"/>
              <xs:element name="Attentuation273"  type="xs:double"/>
              <xs:element name="Attentuation274"  type="xs:double"/>
              <xs:element name="Attentuation275"  type="xs:double"/>
              <xs:element name="Attentuation276"  type="xs:double"/>
              <xs:element name="Attentuation277"  type="xs:double"/>
              <xs:element name="Attentuation278"  type="xs:double"/>
              <xs:element name="Attentuation279"  type="xs:double"/>
              <xs:element name="Attentuation280"  type="xs:double"/>
              <xs:element name="Attentuation281"  type="xs:double"/>
              <xs:element name="Attentuation282"  type="xs:double"/>
              <xs:element name="Attentuation283"  type="xs:double"/>
              <xs:element name="Attentuation284"  type="xs:double"/>
              <xs:element name="Attentuation285"  type="xs:double"/>
              <xs:element name="Attentuation286"  type="xs:double"/>
              <xs:element name="Attentuation287"  type="xs:double"/>
              <xs:element name="Attentuation288"  type="xs:double"/>
              <xs:element name="Attentuation289"  type="xs:double"/>
              <xs:element name="Attentuation290"  type="xs:double"/>
              <xs:element name="Attentuation291"  type="xs:double"/>
              <xs:element name="Attentuation292"  type="xs:double"/>
              <xs:element name="Attentuation293"  type="xs:double"/>
              <xs:element name="Attentuation294"  type="xs:double"/>
              <xs:element name="Attentuation295"  type="xs:double"/>
              <xs:element name="Attentuation296"  type="xs:double"/>
              <xs:element name="Attentuation297"  type="xs:double"/>
              <xs:element name="Attentuation298"  type="xs:double"/>
              <xs:element name="Attentuation299"  type="xs:double"/>
              <xs:element name="Attentuation300"  type="xs:double"/>
              <xs:element name="Attentuation301"  type="xs:double"/>
              <xs:element name="Attentuation302"  type="xs:double"/>
              <xs:element name="Attentuation303"  type="xs:double"/>
              <xs:element name="Attentuation304"  type="xs:double"/>
              <xs:element name="Attentuation305"  type="xs:double"/>
              <xs:element name="Attentuation306"  type="xs:double"/>
              <xs:element name="Attentuation307"  type="xs:double"/>
              <xs:element name="Attentuation308"  type="xs:double"/>
              <xs:element name="Attentuation309"  type="xs:double"/>
              <xs:element name="Attentuation310"  type="xs:double"/>
              <xs:element name="Attentuation311"  type="xs:double"/>
              <xs:element name="Attentuation312"  type="xs:double"/>
              <xs:element name="Attentuation313"  type="xs:double"/>
              <xs:element name="Attentuation314"  type="xs:double"/>
              <xs:element name="Attentuation315"  type="xs:double"/>
              <xs:element name="Attentuation316"  type="xs:double"/>
              <xs:element name="Attentuation317"  type="xs:double"/>
              <xs:element name="Attentuation318"  type="xs:double"/>
              <xs:element name="Attentuation319"  type="xs:double"/>
              <xs:element name="Attentuation320"  type="xs:double"/>
              <xs:element name="Attentuation321"  type="xs:double"/>
              <xs:element name="Attentuation322"  type="xs:double"/>
              <xs:element name="Attentuation323"  type="xs:double"/>
              <xs:element name="Attentuation324"  type="xs:double"/>
              <xs:element name="Attentuation325"  type="xs:double"/>
              <xs:element name="Attentuation326"  type="xs:double"/>
              <xs:element name="Attentuation327"  type="xs:double"/>
              <xs:element name="Attentuation328"  type="xs:double"/>
              <xs:element name="Attentuation329"  type="xs:double"/>
              <xs:element name="Attentuation330"  type="xs:double"/>
              <xs:element name="Attentuation331"  type="xs:double"/>
              <xs:element name="Attentuation332"  type="xs:double"/>
              <xs:element name="Attentuation333"  type="xs:double"/>
              <xs:element name="Attentuation334"  type="xs:double"/>
              <xs:element name="Attentuation335"  type="xs:double"/>
              <xs:element name="Attentuation336"  type="xs:double"/>
              <xs:element name="Attentuation337"  type="xs:double"/>
              <xs:element name="Attentuation338"  type="xs:double"/>
              <xs:element name="Attentuation339"  type="xs:double"/>
              <xs:element name="Attentuation340"  type="xs:double"/>
              <xs:element name="Attentuation341"  type="xs:double"/>
              <xs:element name="Attentuation342"  type="xs:double"/>
              <xs:element name="Attentuation343"  type="xs:double"/>
              <xs:element name="Attentuation344"  type="xs:double"/>
              <xs:element name="Attentuation345"  type="xs:double"/>
              <xs:element name="Attentuation346"  type="xs:double"/>
              <xs:element name="Attentuation347"  type="xs:double"/>
              <xs:element name="Attentuation348"  type="xs:double"/>
              <xs:element name="Attentuation349"  type="xs:double"/>
              <xs:element name="Attentuation350"  type="xs:double"/>
              <xs:element name="Attentuation351"  type="xs:double"/>
              <xs:element name="Attentuation352"  type="xs:double"/>
              <xs:element name="Attentuation353"  type="xs:double"/>
              <xs:element name="Attentuation354"  type="xs:double"/>
              <xs:element name="Attentuation355"  type="xs:double"/>
              <xs:element name="Attentuation356"  type="xs:double"/>
              <xs:element name="Attentuation357"  type="xs:double"/>
              <xs:element name="Attentuation358"  type="xs:double"/>
              <xs:element name="Attentuation359"  type="xs:double"/>
              <xs:element name="Attentuation360"  type="xs:double"/>
              <xs:element name="Attentuation361"  type="xs:double"/>
              <xs:element name="Attentuation362"  type="xs:double"/>
              <xs:element name="Attentuation363"  type="xs:double"/>
              <xs:element name="Attentuation364"  type="xs:double"/>
              <xs:element name="Attentuation365"  type="xs:double"/>
              <xs:element name="Attentuation366"  type="xs:double"/>
              <xs:element name="Attentuation367"  type="xs:double"/>
              <xs:element name="Attentuation368"  type="xs:double"/>
              <xs:element name="Attentuation369"  type="xs:double"/>
              <xs:element name="Attentuation370"  type="xs:double"/>
              <xs:element name="Attentuation371"  type="xs:double"/>
              <xs:element name="Attentuation372"  type="xs:double"/>
              <xs:element name="Attentuation373"  type="xs:double"/>
              <xs:element name="Attentuation374"  type="xs:double"/>
              <xs:element name="Attentuation375"  type="xs:double"/>
              <xs:element name="Attentuation376"  type="xs:double"/>
              <xs:element name="Attentuation377"  type="xs:double"/>
              <xs:element name="Attentuation378"  type="xs:double"/>
              <xs:element name="Attentuation379"  type="xs:double"/>
              <xs:element name="Attentuation380"  type="xs:double"/>
              <xs:element name="Attentuation381"  type="xs:double"/>
              <xs:element name="Attentuation382"  type="xs:double"/>
              <xs:element name="Attentuation383"  type="xs:double"/>
              <xs:element name="Attentuation384"  type="xs:double"/>
              <xs:element name="Attentuation385"  type="xs:double"/>
              <xs:element name="Attentuation386"  type="xs:double"/>
              <xs:element name="Attentuation387"  type="xs:double"/>
              <xs:element name="Attentuation388"  type="xs:double"/>
              <xs:element name="Attentuation389"  type="xs:double"/>
              <xs:element name="Attentuation390"  type="xs:double"/>
              <xs:element name="Attentuation391"  type="xs:double"/>
              <xs:element name="Attentuation392"  type="xs:double"/>
              <xs:element name="Attentuation393"  type="xs:double"/>
              <xs:element name="Attentuation394"  type="xs:double"/>
              <xs:element name="Attentuation395"  type="xs:double"/>
              <xs:element name="Attentuation396"  type="xs:double"/>
              <xs:element name="Attentuation397"  type="xs:double"/>
              <xs:element name="Attentuation398"  type="xs:double"/>
              <xs:element name="Attentuation399"  type="xs:double"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
